<!DOCTYPE html>

{% extends 'film.html' %}
{% load static %}

{% block main_content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'add_film.css' %}">
{% endblock %}
<div class="add-film">
    <h1> Add film </h1>

    <div class="container-fluid">
        
        <form action="add_film" method='post' enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            <div class="add-submit">
                <input type="submit" value="Submit" class="btn btn-success">
            </div>
        </form>
    </div>
</div>

{% endblock %}