<!DOCTYPE html>

{% extends 'profile.html' %}
{% load static %}

{% block main_content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'change_password.css' %}">
{% endblock %}
<div class="container">
  <h1> Change Password </h1>

  <form action="{% url 'profile' user.id %}" method="post" class="form-changepw">
    {% csrf_token %}
    {{ form }}
    <div class="btn"><button type="submit" class="btn btn-dark">Change password</button></div>
  </form>
</div>

{% endblock %}