h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

input[type="password"] {
    background-color: #eee;
    border: none;
    border-radius: 8px;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
}

.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 468px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .btn {
    display: flex;
    justify-content: center;
}

.container button {
    background-color: #11246a;
    color: #fff;
    font-size: 12px;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}