.update_section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
}

.container-fluid {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="file"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-submit {
    display: flex;
    justify-content: center;
}

.btn-success {
    background-color: #286ca7;
    color: #fff;
    border: none;
}

.btn-success:hover {
    background-color: #020402;
}